[build]
  command = "yarn build"
  publish = "dist"
  functions = "netlify/functions"
  targetPort = 5173

[[headers]]
  for = "/service-worker.js"
  [headers.values]
    Content-Type = "application/javascript"
    Cache-Control = "no-cache"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200